__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

.Python
env/
venv/
.venv/
ENV/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.mypy_cache/
.pyre/
.pytype/

tmp/
*.log

.env
.env.*
*.env

.idea/
.vscode/
.DS_Store
.git
.gitignore

node_modules/
